.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:80vh;
    background-color: #eff2f5;
    height:88vh;
}

.home > h1{
    font-size: 25px ;
    margin :10px;
}

.home_container{
    text-align: center;
}

.home_container> input,
  textarea{
   width:250;
   padding:10px 10px;
   font-size: 15px;
   outline: none;
   border-radius: 5px;
   resize: none;
   box-shadow: 1px solid rgb(192, 188, 188);
}

.home_container > button{
    outline: none;
    border:none;
    border-radius: 5px;
    padding:10px 20px;
    font-size:15px;
    background-color: rgb(124,197,14);
    color:white;
    cursor: pointer;
}